<div class="container">
  <div class="jumbotron">
    <h1>node?js</h1>
    <input name="website.url" ng-model="website.url" placeholder="enter URL" type="text" class="form-control">
    <br/>
    <button class="btn btn-success" ng-click="check()">Find out now</button>
  </div>
  <div ng-show="displayResult">
    <h2>Results for {{resultUrl}}</h2>
    <p>{{message}}</p>
    <ul>
      <li ng-repeat="reason in reasons">{{reason}}</li>
    </ul>
  </div>
  <div ng-show="displayError">
    <p>{{errorMsg}}</p>
  </div>
  <div class="footer">
    <a href="https://github.com/wlaurance/dotheyusenode"
      target="_blank">It's on Github</a>
  </div>
</div>
