<div class="container">
  <div class="jumbotron">
    <h1>node?js</h1>
    <p>DOES IT USE NODE</p>
    <br/>
    <input name="website.url" ng-model="website.url" placeholder="enter URL" type="text" class="form-control">
    <br/>
    <button class="btn btn-primary" ng-click="check()">Find Out Now</button>
  </div>
  <div class="result-container" ng-show="displayResult">
    <img class="resultImg" ng-src={{img}}>
    <!-- {{resultUrl}} -->
    <div class="resultMsg">
      <span class="resultUrl"> {{message}}</span>
      <ul>
        <li ng-repeat="reason in reasons">{{reason}}</li>
      </ul>
    </div>
  </div>
  <div ng-show="displayError">
    <p>{{errorMsg}}</p>
  </div>

  <div class="navbar navbar-fixed-bottom">
    Created by 
    <a href="http://twitter.com/wlaurance" target="_blank">@wlaurance</a>
    and
    <a href="http://twitter.com/meredithmmyers" target="_blank">@meredithmmyers</a>|
    <a href="https://github.com/wlaurance/dotheyusenode">An open source project</a> |
    <a href="#credits">Image Credits</a>
  </div>
</div>
